// 3rd-party Plugins
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Theme Styles
@import "./_metronic/_assets/sass/style.react.scss";

// Default Layout themes
@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
@import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";

// Header themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/base/dark.scss";

// Header Menu themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/menu/dark.scss";

// Brand themes
.brand-dark {
  @import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
}
// Light
.brand-light {
  @import "./_metronic/_assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// Dark
//@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./_metronic/_assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: .5rem;

  code {
    overflow-y: auto;
    display: block;

    span {
      background: none transparent !important;
    }
  }
}

.json > pre {
  background: none #fff !important;

}

.example-code > .json {
  background: none #fff !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.react-bootstrap-table {
  th {
    outline: none;

    &.sortable {
      .svg-icon-sort {
        opacity: 0;
      }

      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }
  }

  .table.table-head-custom thead tr {
    .sortable-active {
      color: $primary !important;
    }
  }
}

// .nav-link:focus {  
//     outline: none;  
// }

.dashboard_ros {
  .offset-xl-4-custom {
    margin-left: 38%;
    @media (max-width: 1200px) {
      margin-left: 0;
    }
  }

  .box {
    @include border-radius(0);
    border-left: 2px solid $blue;
    height: 100%;

    &:hover {
      border-left: 2px solid $danger;

      .text-primary {
        color: $danger !important;
      }
    }

    .card-body {
      padding: 10px 20px;

      .text-primary {
        text-align: center;
      }

      .row_data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1279px) {
          flex-direction: column;
        }

        .form-control {
          width: 50%;
          @media (max-width: 1279px) {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .card.card-custom {
    box-shadow: none;
  }
}

.brand {
  padding: 0 10px;
  height: unset;

  img {
    height: 70px;
  }
}

.react-bootstrap-table-pagination {
  .dropdown-toggle {
    background: none !important;
  }
}

.left-first-col {
  text-align: center;

  td:first-child(),
  th:first-child() {
    text-align: left;
  }
}

.center-last-col {
  td:last-child(),
  th:last-child() {
    text-align: center;
  }
}

.btn {
  font-weight: normal !important;

  &.btn_blue {
    background: #3699FF !important;
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      background: #187DE4 !important;
      color: #fff !important;
    }
  }

  &.btn_orange {
    color: #FFFFFF;
    background-color: #F95B3D;
    border-color: #F95B3D;

    &:focus,
    &:hover {
      background-color: #F95B3D !important;
      border-color: #F95B3D !important;
    }
  }

  &.small {
    padding: .25rem .6rem;
  }

}

.btn-group {
  .btn {
    border-radius: 5px !important;
  }
}

.feedback {
  display: none;
}

.form-control {
  border-radius: .42rem !important;
}

.btn-back {
  padding: 8px 10px;

  svg {
    width: 18px;
    height: 18px;
  }
}

.sticky-toolbar {
  display: none;
}

.nav-tabs {
  margin-bottom: 20px;
  border-bottom: none;

  .nav-link {
    border: none;
    margin-right: 20px;
    color: $dark !important;

    &.active {
      color: $blue !important;
      border-bottom: 1px solid $blue !important;
      background: transparent;
      border-radius: 0;
    }
  }
}

.corporate_details_modal {
  @media (min-width: 992px) {
    .modal-lg {
      max-width: 950px;
    }
  }
}

.react-bootstrap-table-pagination {
  flex-direction: row-reverse;

  div:first-child() {
    text-align: right;
  }
}

.expand-cell,
.expand-cell-header {
  cursor: pointer;
}

.jumbotron {
  .react-bootstrap-table-pagination .dropdown-toggle {
    background: #f9f9f9 !important;
  }
}

.svg-icon i {
  font-size: 1.1rem !important;

  &.fa-toggle-off,
  &.fa-toggle-on {
    font-size: 1.4rem !important;
  }
}

.MuiSnackbar-anchorOriginTopCenter {
  @media (min-width: 600px) {
    top: 10px !important;
    left: unset !important;
    right: 10px !important;
    transform: translateX(0) !important;
  }
}
